body {
    font-family: sans-serif;
}

#container {
    display:flex;
    flex-wrap: wrap;
    margin: auto;
    height:auto;
    background-color:lightblue;
    max-width: 90vw;
}

div {
    /* flex: 1;  */
    border: 1px solid gray; 
    background-color:pink;
}

/* .pixel {
    height: 8px;
    width: 8px;
    border: 1px solid black;
} */