body {
    font-family: sans-serif;
}

#container {
    width: 400px;
    height: auto;
    margin: auto;
    background-color:pink;
}

#grid {
    color:lightblue;
    display:flex;
    flex-wrap: wrap;
}

/* .pixel {
    height: 10px;
    width: 10px;
    border: 1px solid black;
} */